<div
  #calendarContainer
  class="calendar-container"
  (dragstart)="$event.preventDefault()"
  [style.--time-slots-column-width.px]="timeSlotsColumnWidth"
>
  <div class="header-row">
    <div class="time-slot-header" [style.height.px]="headerHeight"></div>
    @for (day of days; track $index) {
    <div class="day-header" [style.height.px]="headerHeight">{{ day }}</div>
    }
  </div>
  @for (hour of hours(); track $index) {
  <div class="calendar-row">
    <div class="time-slot">{{ hour }}</div>
    @for (day of days; track $index) {
    <div
      class="calendar-cell"
      [class.selected]="selectedCellMap().has(day + '-' + hour)"
      [style.height.px]="cellHeight"
      (mousedown)="onDragStart(day, hour)"
      (mouseenter)="onDragOver(day, hour)"
      [attr.data-day]="day"
      [attr.data-hour]="hour"
    ></div>
    }
  </div>
  }
  <div class="events-container">
    @for (event of events; track $index) {
    <div class="event" [style]="event.style">{{ event.title }}</div>
    } @if (pendingEvent(); as pending) {
    <div class="event pending" [style]="pending.style">
      <input
        #eventInput
        type="text"
        [(ngModel)]="newEventTitle"
        (blur)="confirmEventCreation()"
        (keydown.enter)="confirmEventCreation()"
        (keydown.escape)="pendingEvent.set(null)"
        placeholder="Event name..."
      />
    </div>
    }
  </div>
</div>
