<table #calendarContainer class="calendar-container">
  <tr class="header-row">
    <th class="header" [style.height.px]="headerHeight"></th>
    @for (day of days; track $index) {
      <th class="header day-header" [style.height.px]="headerHeight">{{ day }}</th>
    }
  </tr>
  @for (hour of hours(); track $index) {
    <tr class="calendar-row">
      <td class="time-slot">{{ hour }}</td>
      @for (day of days; track $index) {
        <td
          class="calendar-cell"
          [class.selected]="selectedCells().has(day + '-' + hour)"
          [style.height.px]="cellHeight"
          (mousedown)="onDragStart(day, hour)"
          (mouseenter)="onDragOver(day, hour)"
        ></td>
      }
    </tr>
  }
  <div class="events-container">
    @for (event of events(); track $index) {
      <app-event
        class="event"
        [event]="event"
        (delete)="deleteEvent(event)"
        (confirm)="confirmEvent(event)"
      ></app-event>
    }
  </div>
</table>
